.container.catalog-filter
	form(method="post" action="http://localhost:8888/dev/smartlovers/code/catalogo" class="catalog-form")
		.form-group
			label(for="sel1") Selecionar Marca:
			select(id="sel1" class="form-control" name="brand")
				option(value="seleccione") - Seleccione Marca -
				option(selected="" value="1") Iphone
				option(value="2") Samsung
		.form-group
			label(for="sel2") Selecionar Típo Línea:
				select(id="sel2" class="form-control" name="type")
					option(selected="" value="seleccione") - Seleccione Típo de Línea -
					option(value="portability") Portabilidad
					option(value="renawa") Renovación
					option(value="new_line") Línea Nueva
		button(type="submit" name="btn_buscar") Buscar
.container
	- for (var i = 1 ; i <= 12 ; i++)
		section.catalog-block
			article.catalog-article
				figure.catalog-figure
					img(src="images/mobile/mobile_#{i}.png" class="img-responsive")
				.catalog-title
					h4 IPhone #{i}S
					h6 Apple
				.catalog-details
					.block-two
						h3 S/. 1200
						h6 Precio de equipo
					.block-two
						h6 *En plan conexión 190 con acuerdo de 18 meses.
				.square-btn
					a(href="product.html") Ver Detalle
				.catalog-compare
					input(
						type='checkbox'
						name='compare[]'
						id='compare#{i}'
					)
					label(for="compare#{i}") Comparar